<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item_trunk(11).png</key>
			<dict>
				<key>frame</key>
				<string>{{435,435},{431,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{431,429}}</string>
				<key>sourceSize</key>
				<string>{431,429}</string>
			</dict>

			<key>item_trunk(12).png</key>
			<dict>
				<key>frame</key>
				<string>{{866,865},{429,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,429}}</string>
				<key>sourceSize</key>
				<string>{429,429}</string>
			</dict>

			<key>item_trunk(13).png</key>
			<dict>
				<key>frame</key>
				<string>{{867,431},{427,427}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,427}}</string>
				<key>sourceSize</key>
				<string>{427,427}</string>
			</dict>

			<key>item_trunk(14).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{432,432}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{432,432}}</string>
				<key>sourceSize</key>
				<string>{432,432}</string>
			</dict>

			<key>item_trunk(15).png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,0},{426,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{426,433}}</string>
				<key>sourceSize</key>
				<string>{426,433}</string>
			</dict>

			<key>item_trunk(16).png</key>
			<dict>
				<key>frame</key>
				<string>{{438,0},{430,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,430}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>

			<key>item_trunk(17).png</key>
			<dict>
				<key>frame</key>
				<string>{{869,0},{425,425}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{425,425}}</string>
				<key>sourceSize</key>
				<string>{425,425}</string>
			</dict>

			<key>item_trunk(18).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{434,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{434,434}}</string>
				<key>sourceSize</key>
				<string>{434,434}</string>
			</dict>

			<key>item_trunk(19).png</key>
			<dict>
				<key>frame</key>
				<string>{{433,870},{432,432}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{432,432}}</string>
				<key>sourceSize</key>
				<string>{432,432}</string>
			</dict>

			<key>item_trunk(20).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{437,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{437,434}}</string>
				<key>sourceSize</key>
				<string>{437,434}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1722,1303}</string>
			<key>textureFileName</key>
			<string>list_trunk2.png</string>
			</dict>
		</dict>
</plist>