<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item_trunk(1).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,844},{439,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,388}}</string>
				<key>sourceSize</key>
				<string>{439,388}</string>
			</dict>

			<key>item_trunk(10).png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1288},{427,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,429}}</string>
				<key>sourceSize</key>
				<string>{427,429}</string>
			</dict>

			<key>item_trunk(2).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1233},{436,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{436,436}}</string>
				<key>sourceSize</key>
				<string>{436,436}</string>
			</dict>

			<key>item_trunk(3).png</key>
			<dict>
				<key>frame</key>
				<string>{{871,0},{430,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,430}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>

			<key>item_trunk(4).png</key>
			<dict>
				<key>frame</key>
				<string>{{873,859},{428,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{428,428}}</string>
				<key>sourceSize</key>
				<string>{428,428}</string>
			</dict>

			<key>item_trunk(5).png</key>
			<dict>
				<key>frame</key>
				<string>{{871,431},{430,427}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,427}}</string>
				<key>sourceSize</key>
				<string>{430,427}</string>
			</dict>

			<key>item_trunk(6).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,425},{439,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,418}}</string>
				<key>sourceSize</key>
				<string>{439,418}</string>
			</dict>

			<key>item_trunk(7).png</key>
			<dict>
				<key>frame</key>
				<string>{{440,425},{430,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,433}}</string>
				<key>sourceSize</key>
				<string>{430,433}</string>
			</dict>

			<key>item_trunk(8).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{442,424}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{442,424}}</string>
				<key>sourceSize</key>
				<string>{442,424}</string>
			</dict>

			<key>item_trunk(9).png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1233},{435,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{435,439}}</string>
				<key>sourceSize</key>
				<string>{435,439}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1302,1718}</string>
			<key>textureFileName</key>
			<string>list_trunk1.png</string>
			</dict>
		</dict>
</plist>