<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item_trunk(21).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{435,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{435,434}}</string>
				<key>sourceSize</key>
				<string>{435,434}</string>
			</dict>

			<key>item_trunk(22).png</key>
			<dict>
				<key>frame</key>
				<string>{{869,430},{411,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,437}}</string>
				<key>sourceSize</key>
				<string>{411,437}</string>
			</dict>

			<key>item_trunk(23).png</key>
			<dict>
				<key>frame</key>
				<string>{{867,0},{429,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{429,429}}</string>
				<key>sourceSize</key>
				<string>{429,429}</string>
			</dict>

			<key>item_trunk(24).png</key>
			<dict>
				<key>frame</key>
				<string>{{435,869},{431,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{431,429}}</string>
				<key>sourceSize</key>
				<string>{431,429}</string>
			</dict>

			<key>item_trunk(25).png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{430,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,430}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>

			<key>item_trunk(26).png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,430},{405,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,439}}</string>
				<key>sourceSize</key>
				<string>{405,439}</string>
			</dict>

			<key>item_trunk(27).png</key>
			<dict>
				<key>frame</key>
				<string>{{867,869},{428,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{428,423}}</string>
				<key>sourceSize</key>
				<string>{428,423}</string>
			</dict>

			<key>item_trunk(28).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{434,429}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{434,429}}</string>
				<key>sourceSize</key>
				<string>{434,429}</string>
			</dict>

			<key>item_trunk(29).png</key>
			<dict>
				<key>frame</key>
				<string>{{435,435},{433,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{433,433}}</string>
				<key>sourceSize</key>
				<string>{433,433}</string>
			</dict>

			<key>item_trunk(30).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{434,434}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{434,434}}</string>
				<key>sourceSize</key>
				<string>{434,434}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1702,1300}</string>
			<key>textureFileName</key>
			<string>list_trunk3.png</string>
			</dict>
		</dict>
</plist>